
body {
    background: black;
    color: ghostwhite;
    margin: 0px;
    font-family: "New Amsterdam", system-ui;
}

header {
    border-bottom: solid 3px rgb(255 0 0);
    font-size: 70px;
    padding: 10px;
    margin: 20px;
}

section {
    background: rgb(126 151 167);
    padding-bottom: 70px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.titulo-video {
    margin-right: 10%;
    font-size: 20px;
}

img{
    height: 220px;
}
.fila-videos {
    display:flex;
    overflow-x:auto;
}
